@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin-bottom: 10px;
}

.fundo{
    background-color: #7476ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calculadora {
    display: flex;
    background-color: #091821;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.281);
}

.calculadora > table {
    display: flex;
    border-radius: 5px;
    height: 410px;
    margin-top: 110px;
    margin-left: -300px;
} 

.botao {
    width: 70px;
    height: 70px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    background-color: #0c2833;
    border: none;
    color: white;
}

.botao1 {
    width: 70px;
    height: 70px;
    margin: 2px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    color: #0c2833;
}

.botao2 {
    width: 70px;
    height: 70px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffbf3e;
    border: none;
    color: white;
}

#resultado {
    
    color: white;
    height: 100px;
    width: 300px;
    font-size: 3em;
    padding-top: 10px;
    text-align: right;
    overflow: hidden;
}

button {
    border-radius: 35px;
}
